<!DOCTYPE html>
<html>
	<head>
		<title>EcoWeb</title>
		<meta charset="utf-8">

		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

		<meta name="author" content="Måns Gezelius">
		<meta name="description" content="Project description.">
		<meta name="keywords" content="Golen, Måns Gezelius, Måns, Gezelius, programming, Sweden, programmering, linköpings universitet, spel, games, browser, online">

		<meta property="og:title" content="EcoWeb">
		<meta property="og:description" content="Project description.">
		<meta property="og:image" content="thumbnail url">
		<meta property="og:url" content="website url">
		<meta property="og:type" content="game" />

		<!-- Vue -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>
		<!-- JQuery -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<!-- Font Awesome -->
		<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>

		<!-- Styles and fonts -->
		<link href="web/style.css" type="text/css" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css?family=Crete+Round&display=swap" rel="stylesheet">

		<!-- Phaser -->
		<script src="web/phaser_3_16_2.min.js"></script>
		<script src="web/numeric.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>

		<!-- Script includes -->
		<script src="js/utils.js"></script>
		<script src="js/pipelines.js"></script>

		<script src="js/ecoweb/organism.js"></script>
		<script src="js/ecoweb/event.js"></script>
		<script src="js/ecoweb/nodeData.js"></script>
		<script src="js/ecoweb/defaultDatabase.js"></script>
		<script src="js/ecoweb/database.js"></script>
		<script src="js/ecoweb/ecoweb.js"></script>

		<script src="js/components/Button.js"></script>
		<script src="js/components/MenuButton.js"></script>
		<script src="js/components/TextButton.js"></script>
		<script src="js/components/CircleButton.js"></script>
		<script src="js/components/SocketButton.js"></script>
		<script src="js/components/SymbolButton.js"></script>
		<script src="js/components/AddEventButton.js"></script>

		<script src="js/components/EventWindow.js"></script>
		<script src="js/components/EventWindowButton.js"></script>
		<script src="js/components/PauseWindow.js"></script>
		<script src="js/components/PauseButton.js"></script>
		<script src="js/components/InfoBox.js"></script>

		<script src="js/components/Node.js"></script>
		<script src="js/components/Slider.js"></script>
		<script src="js/components/SliderButton.js"></script>
		<script src="js/components/CheckBox.js"></script>
		<script src="js/components/Path.js"></script>

		<script src="js/scenes/ExampleScene1.js"></script>
		<script src="js/scenes/ExampleScene2.js"></script>
		<script src="js/scenes/ExampleScene3.js"></script>
		<script src="js/scenes/ClickScene.js"></script>
		<script src="js/scenes/PreloadScene.js"></script>
		<script src="js/scenes/TitleScene.js"></script>
		<script src="js/scenes/WorldScene.js"></script>
		<script src="js/scenes/LevelScene.js"></script>

		<script src="js/graph/graphUtils.js"></script>
		<script src="js/graph/vue.js"></script>
		<script src="js/graph/chart.js"></script>

		<script src="js/index.js"></script>
	</head>

	<body>
		<!-- Font preloading for Phaser -->
		<div style="font-family:'Crete Round', sans-serif; position:absolute; left:-1000px; visibility:hidden;">.</div>


		<!-- Game canvas -->
		<div id="game"></div>


		<!-- Graph -->
		<div class="d-flex flex-wrap justify-content-center p-2 mt-4" style="background: rgba(0,0,255,0.0);">

			<div class="" style="flex-grow: 1; flex-basis: 0; min-width: 600px;">
				<div style="background: white;">
					<canvas id="myChart"></canvas>
				</div>
			</div>

			<div id="graphTools" class="justify-content-center">

				<div class="m-1" style="width: 250px; background: rgba(255,0,0,0.0);">
					<div class="card">
						<div class="card-header d-flex no-gutters p-2">
							<div class="col-sm-1"></div>
							<span class="col-sm font-weight-bold">Main</span>
							<i class="fas col-sm-1 fa-angle-down"
								style="font-size: 1.5em; cursor: pointer;"
								v-on:click="toggleShow($event, main)"></i>
						</div>
						<div v-if="main.show" class="card-body p-2">
							<div class="row no-gutters mb-1" style="height: 2em;">
								<span class="col-sm-2 align-self-center" style="white-space: nowrap;"><small>Time</small></span>
								<input class="col-sm mx-2"
									type="range"
									min="0" max="500" step="10"
									v-model="duration"
									v-on:input="updateDuration($event)"
									v-on:change="updateDuration($event)">
								<input class="col-sm-3"
									type="number"
									min="0" max="1000" step="10"
									v-model.number="duration"
									v-on:change="updateDuration($event)"/>
							</div>
							<button type="button" class="btn btn-secondary"
								title="Apply slight randomness to all interaction values"
								v-on:click="wiggle">
								Wiggle
							</button>
							<button type="button" class="btn btn-secondary"
								title="Skip in time to where populations have stabilized"
								v-on:click="stabilize">
								Stabilize
							</button>
							<button type="button" class="btn btn-secondary"
								title="Reset populations to initial values"
								v-on:click="reset">
								Reset
							</button>
							<hr>
							<button v-for="scenario,i in scenarios" type="button" class="btn btn-secondary"
								v-bind:title="'Start scenario ' + i"
								v-on:click="startScenario(i)">
								Scenario {{i}}
							</button>
						</div>
					</div>
				</div>

				<div v-for="s in species" class="m-1" style="width: 250px; background: rgba(255,0,0,0.0);">
					<div class="card">
						<div class="card-header d-flex no-gutters p-2" v-bind:style="{ backgroundColor: s.color }">
							<input type="checkbox" class="col-sm-1"
								style="width: 25px; height: 25px;"
								v-model="s.enable"
								v-on:click="toggleEnable($event, s)">
							<!--input type="checkbox" class="col-sm-1"
								style="width: 25px; height: 25px;"
								v-model="s.showGraph"
								v-on:click="toggleShowGraph($event, s)"-->
							<span class="col-sm font-weight-bold">{{s.name}}</span>
							<i class="fas col-sm-1 fa-angle-down"
								style="font-size: 1.5em; cursor: pointer;"
								v-on:click="toggleShow($event, s)"></i>
						</div>
						<div v-if="s.show" class="card-body p-2">
							<div class="row no-gutters mb-1" style="height: 2em;">
								<span class="col-sm-2 align-self-center" style="white-space: nowrap;"><small>Pop</small></span>
								<input class="col-sm mx-2"
									type="range"
									min="0.01" max="1" step="0.01"
									v-model="s.startPopulation"
									v-on:input="updateValue($event, s, 'startPopulation')"
									v-on:change="updateValue($event, s, 'startPopulation')">
								<input class="col-sm-3"
									type="number"
									min="0" max="1" step="0.01"
									v-model.number="s.startPopulation"
									v-on:change="updateValue($event, s, 'startPopulation')"/>
							</div>
							<div class="row no-gutters mb-1" style="height: 2em;">
								<span class="col-sm-2 align-self-center" style="white-space: nowrap;"><small>Grow</small></span>
								<input class="col-sm mx-2"
									type="range"
									min="-1" max="1" step="0.01"
									v-model="s.growthRate"
									v-on:input="updateValue($event, s, 'growthRate')"
									v-on:change="updateValue($event, s, 'growthRate')">
								<input class="col-sm-3"
									type="number"
									min="-1" max="1" step="0.01"
									v-model.number="s.growthRate"
									v-on:change="updateValue($event, s, 'growthRate')"/>
							</div>
							<div class="row no-gutters mb-1" style="height: 2em;">
								<span class="col-sm-2 align-self-center" style="white-space: nowrap;"><small>Self</small></span>
								<input class="col-sm mx-2"
									type="range"
									min="-1" max="0" step="0.01"
									v-model="s.selfCompetition"
									v-on:input="updateValue($event, s, 'selfCompetition')"
									v-on:change="updateValue($event, s, 'selfCompetition')">
								<input class="col-sm-3"
									type="number"
									min="-1" max="0" step="0.01"
									v-model.number="s.selfCompetition"
									v-on:change="updateValue($event, s, 'selfCompetition')"/>
							</div>
							<hr>
							<div v-for="value, key in s.relationship" class="row no-gutters mb-1" style="height: 2em;">
								<span class="col-sm-2 align-self-center" style="white-space: nowrap;"><small>{{key}}</small></span>
								<input class="col-sm mx-2"
									type="range"
									min="-1" max="1" step="0.01"
									v-model="s.relationship[key]"
									v-on:input="updateValue($event, s, 'relationship[key]')"
									v-on:change="updateValue($event, s, 'relationship[key]')">
								<input class="col-sm-3"
									type="number"
									min="-1" max="0" step="0.01"
									v-model.number="s.relationship[key]"
									v-on:change="updateValue($event, s, 'relationship[key]')"/>
							</div>
							<!--
							<div v-for="value, key in s.relationship" class="row no-gutters mb-1" style="height: 2em;">
								<span class="col-sm-2 align-self-center" style="white-space: nowrap;"><small>{{key}}</small></span>
								<input class="col-sm mx-2"
									type="range"
									min="-1" max="1" step="0.01"
									v-model="s.relationship[key]"
									v-on:input="updateValue($event, s, 'relationship[key]')"
									v-on:change="updateValue($event, s, 'relationship[key]')">
								<input class="col-sm-3"
									type="number"
									min="-1" max="0" step="0.01"
									v-model.number="s.relationship[key]"
									v-on:change="updateValue($event, s, 'relationship[key]')"/>
							</div>
							-->
						</div>
					</div>
				</div>

			</div>

		</div>


		<!-- Database editor -->
		<div class="container card-body bg-light mx-auto justify-content-center" style="height: 800px;">

			<!-- Main menu -->
			<div id="databaseEditor" class="editor-container" v-show="show" v-cloak>
				<h2 class="text-left">Database</h2>
				<hr class="mt-0">

				<!--textarea class="form-control" style="height: 100%;">{{allData}}</textarea-->

				<div class="d-flex justify-content-end">
					<input type="button" class="btn btn-primary mr-1" v-bind:value="'Nodes (' + list.length + ')'" v-on:click="openNodes()">
					<input type="button" class="btn btn-primary mr-1" value="Events" v-on:click="openEvents()" disabled>
					<input type="button" class="btn btn-primary" value="Scenarios" v-on:click="openScenarios()" disabled>
				</div>

				<div class="d-flex justify-content-start">
					<input type="file" id="importJsonInput" hidden/>
					<input type="button" class="btn btn-warning mr-1" value="Import JSON" v-on:click="importFile()">
					<input type="button" class="btn btn-warning" value="Export JSON" v-on:click="exportFile()">
				</div>

			</div>

			<!-- Node list -->
			<div id="nodeList" class="editor-container" v-show="show" v-cloak>
				<h2 class="text-left">Nodes</h2>

				<div class="editor-full-list">
					<table class="table">
						<thead>
							<tr>
								<td scope="col" class="text-muted d-none d-sm-table-cell"></td>
								<td scope="col" class="text-muted">Name</td>
								<!--td scope="col" class="text-muted d-none d-md-table-cell">Id</td-->
								<td scope="col" class="text-muted d-none d-lg-table-cell">Type</td>
								<td scope="col"></td>
							</tr>
						</thead>
						<tbody>
							<tr v-for="s in list">
								<td scope="row" class="align-middle d-none d-sm-table-cell">
									<img
										v-bind:src="getImage(s.image)"
										class="img-thumbnail p-0 rounded-circle"
										style="border: none; height: 40px;"
										v-bind:style="{ boxShadow: 'inset 0 0 0 2px ' + s.color }"
										v-bind:title="s.name">
								</td>
								<th class="align-middle">{{ s.name }}</th>
								<!--td class="align-middle d-none d-md-table-cell">{{ s.id }}</td-->
								<td class="align-middle d-none d-lg-table-cell">{{ s.type }}</td>
								<td class="align-middle" style="width: 1%; white-space: nowrap;">
									<input type="button" class="btn btn-secondary" value="Edit" v-on:click="editNode(s)">
									<input type="button" class="btn btn-secondary" value="Copy" v-on:click="copyNode(s)">
									<input type="button" class="btn btn-danger" value="Delete" v-on:click="deleteNode(s)">
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<hr>
				<div class="d-flex justify-content-between">
					<input type="button" class="btn btn-warning" value="Edit tags" v-on:click="editTags()">
					<div>
						<input type="button" class="btn btn-secondary mr-1" value="Back" v-on:click="back()">
						<input type="button" class="btn btn-primary" value="Add node" v-on:click="addNode()">
					</div>
				</div>
			</div>

			<!-- Node editor -->
			<form id="nodeEditor" class="editor-container" v-show="show" v-cloak v-on:submit="save" action="#" method="post">

				<div class="d-flex">
					<!-- Tab navigation -->
					<ul class="nav nav-tabs w-100 justify-content-between">
						<h2 class="text-left mb-0">{{ node.name }}</h2>

						<div class="d-flex">
							<li class="nav-item">
								<input type="button" class="tab-button nav-link" v-bind:class="{ active: tab == 1 }" v-on:click="setTab(1)" value="Info">
							</li>
							<li class="nav-item">
								<input type="button" class="tab-button nav-link" v-bind:class="{ active: tab == 2 }" v-on:click="setTab(2)" value="Relations">
							</li>
						</div>
					</ul>
				</div>

				<hr class="mt-0">

				<!-- Node input section -->
				<!-- Info tab -->
				<div v-show="tab == 1" class="input-section">

					<!-- Input fields -->
					<div class="input-fields col-md-9 col-lg-8 col-xl-6">

						<!-- Name -->
						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Name</label>
							<div class="col-sm-8">
								<input v-model="node.name" type="text" class="form-control" required>
							</div>
						</div>

						<!-- Image -->
						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Image</label>
							<div class="col-sm-8">
								<select v-model="node.image" class="form-control" required>
									<option v-for="option in node_images" v-bind:value="option.value">{{ option.text }}</option>
								</select>
							</div>
						</div>

						<!-- Color -->
						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Color</label>
							<div class="col-sm-8">
								<input v-model="node.color" type="color" class="form-control" required>
							</div>
						</div>

						<hr>

						<!-- Type -->
						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Type</label>
							<div class="col-sm-8">
								<select v-model="node.type" class="form-control" required>
									<option v-for="option in node_types" v-bind:value="option.value">{{ option.text }}</option>
								</select>
							</div>
						</div>

						<!-- Animal parameters -->
						<div v-if="node.type == 'animal'">

							<!-- Size -->
							<div class="form-group row">
								<label class="col-sm-4 col-form-label">Size</label>
								<div class="col-sm-8">
									<select v-model="node.animal.size" class="form-control" required>
										<option v-for="option in animal_sizes" v-bind:value="option.value">{{ option.text }}</option>
									</select>
								</div>
							</div>

							<!-- Food -->
							<div class="form-group row">
								<label class="col-sm-4 col-form-label">Food</label>
								<div class="col-sm-8">
									<select v-model="node.animal.food" class="form-control" required>
										<option v-for="option in animal_foods" v-bind:value="option.value">{{ option.text }}</option>
									</select>
								</div>
							</div>

							<!-- Consumption -->
							<div class="form-group row">
								<label class="col-sm-4 col-form-label">Consumption</label>
								<div class="col-sm-8 input-group">
									<input v-model.number="node.animal.consumption" type="number" class="form-control" min="0" step="0.01" required>
									<div class="input-group-append">
										<span class="input-group-text" id="basic-addon2">kg / day</span>
									</div>
								</div>
							</div>

							<!-- Weight -->
							<div class="form-group row">
								<label class="col-sm-4 col-form-label">Weight</label>
								<div class="col-sm-8 input-group">
									<input v-model.number="node.animal.weight" type="number" class="form-control" min="0" step="0.01" required>
									<div class="input-group-append">
										<span class="input-group-text" id="basic-addon2">kg</span>
									</div>
								</div>
							</div>

							<!-- Age -->
							<div class="form-group row">
								<label class="col-sm-4 col-form-label">Age</label>
								<div class="col-sm-8 input-group">
									<input v-model.number="node.animal.age" type="number" class="form-control" min="0" step="0.01" required>
									<div class="input-group-append">
										<span class="input-group-text" id="basic-addon2">years</span>
									</div>
								</div>
							</div>

							<!-- Offspring -->
							<div class="form-group row">
								<label class="col-sm-4 col-form-label">Offspring</label>
								<div class="col-sm-8 input-group">
									<input v-model.number="node.animal.offspring" type="number" class="form-control" min="0" step="0.01" required>
									<div class="input-group-append">
										<span class="input-group-text" id="basic-addon2">/ year</span>
									</div>
								</div>
							</div>
						</div>

						<!-- Abiotic parameters -->
						<div v-if="node.type == 'abiotic'">

							<!-- Size -->
							<div class="form-group row">
								<label class="col-sm-4 col-form-label">Category</label>
								<div class="col-sm-8">
									<select v-model="node.abiotic.category" class="form-control" required>
										<option v-for="option in abiotic_categories" v-bind:value="option.value">{{ option.text }}</option>
									</select>
								</div>
							</div>
						</div>

						<hr>

						<!-- Notes -->
						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Notes</label>
							<div class="col-sm-8">
								<textarea v-model="node.notes" class="form-control" rows="3"></textarea>
							</div>
						</div>

					</div>

					<!-- Node image -->
					<div class="input-fields col-md-3 col-lg-4 col-xl-4 d-flex flex-column">
						<img
							v-bind:src="imagesrc"
							class="img-thumbnail p-0 rounded-circle d-none d-md-block"
							style="border: none"
							v-bind:style="{ boxShadow: 'inset 0 0 0 3px ' + node.color }"
							v-bind:title="node.name">
					</div>
				</div>

				<!-- Diet tab -->
				<div v-show="tab == 2" class="input-section">
					<!-- Relation list -->
					<div class="input-fields col-md-9 col-lg-8 col-xl-6">

						<!-- Relation -->
						<div class="card bg-light mb-1" v-for="(relation, index) in node.relations">
							<div class="card-body">

								<!-- Other node -->
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">Other node</label>
									<div class="col-sm-8">
										<select v-model="relation.node_id" class="form-control" required>
											<option value="" disabled hidden>Select a node...</option>
											<optgroup label="Nodes">
											<option v-for="option in all_nodes" v-bind:value="option.id">{{ option.name }}</option>
											<option disabled>──────────</option>
											<optgroup label="Tags">
											<option v-for="option in all_tags" v-bind:value="option" :disabled="option == ''">{{ option }}</option>
										</select>
									</div>
								</div>

								<!-- Interaction -->
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">Interaction</label>
									<div class="col-sm-8">
										<select v-model="relation.interaction" class="form-control" required>
											<option value="" disabled hidden>Select interaction</option>
											<option v-for="option in relation_interactions" v-bind:value="option.value">{{ option.text }}</option>
										</select>
									</div>
								</div>

								<!--div v-if="interaction.node_id.type == 'animal'"-->

								<!-- Benefit -->
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">Preference</label>
									<div class="col-sm-8 input-group">
										<input v-model="relation.preference" type="number" class="form-control" step="0.01" required>
										<div class="input-group-append">
											<span class="input-group-text" id="basic-addon2">~12%</span>
										</div>
									</div>
								</div>

								<!-- Delete button -->
								<input type="button" class="corner-close-button btn btn-danger" value="&#10005;" v-on:click="deleteRelation(index)">

							</div>
						</div>

						<div class="row no-gutters d-flex justify-content-end">
							<hr class="col-12">
							<input type="button" class="btn btn-primary" value="Add relation" v-on:click="addRelation()">
						</div>

					</div>

					<!-- Relation chart -->
					<div class="input-fields col-md-3 col-lg-4 col-xl-4 d-flex flex-column">
						<!--img
							v-bind:src="imagesrc"
							class="img-thumbnail p-0 rounded-circle d-none d-md-block"
							style="border: none"
							v-bind:style="{ boxShadow: 'inset 0 0 0 3px ' + node.color }"
							v-bind:title="node.name"-->
						<canvas id="nodeChart" height="300"></canvas><!--347-->

						<hr>

						<!-- Incoming relations -->
						<div class="card bg-light mb-1">
							<div class="card-body">
								<h4>Affected by</h4>
								<p v-if="incoming_relations.length == 0">None</p>
								<div v-for="r in incoming_relations">
									{{ r.relation.interaction }} by
									<img
										v-bind:src="getImage(r.node.image)"
										class="img-thumbnail p-0 rounded-circle"
										style="border: none; height: 40px;"
										v-bind:style="{ boxShadow: 'inset 0 0 0 2px ' + r.node.color }"
										v-bind:title="r.node.name">
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Save/Back buttons -->
				<div class="row no-gutters d-flex justify-content-end">
					<hr class="col-12">
					<input type="button" class="btn btn-secondary mr-1" value="Cancel" v-on:click="cancel()">
					<input type="submit" class="btn btn-primary" value="Save">
				</div>
			</form>

			<!-- Tag editor -->
			<form id="tagEditor" class="editor-container" v-show="show" v-cloak v-on:submit="save" action="#" method="post">
				<h2 class="text-left">Tags</h2>
				<hr class="mt-0">

				<!-- Tag list field -->
				<div class="input-section">

					<!-- Tag list -->
					<div class="input-fields col-md-9 col-lg-8 col-xl-6">

						<textarea v-model="tags" class="form-control" style="height: 100%; resize: none;"></textarea>

					</div>

					<!-- Something -->
					<div class="input-fields col-md-3 col-lg-4 col-xl-4 d-flex flex-column">
						<!-- Something -->
						<div class="card bg-light mb-1">
							<div class="card-body">
								<h4>Something</h4>
							</div>
						</div>
					</div>
				</div>

				<!-- Save/Back buttons -->
				<div class="row no-gutters d-flex justify-content-end">
					<hr class="col-12">
					<input type="button" class="btn btn-secondary mr-1" value="Cancel" v-on:click="cancel()">
					<input type="submit" class="btn btn-primary" value="Save">
				</div>
			</form>
		</div>

	</body>
</html>