<!DOCTYPE html>
<html>
	<head>
		<title>EcoWeb</title>
		<meta charset="utf-8">

		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

		<meta name="author" content="Måns Gezelius">
		<meta name="description" content="EcoWeb is an instructional game of ecology from Lutra Interactive, designed to teach students and gamers alike about nature’s complexity.">
		<meta name="keywords" content="Golen, Måns Gezelius, Måns, Gezelius, programming, Sweden, programmering, linköpings universitet, spel, games, browser, online">

		<meta property="og:title" content="EcoWeb">
		<meta property="og:description" content="EcoWeb is an instructional game of ecology from Lutra Interactive, designed to teach students and gamers alike about nature’s complexity.">
		<meta property="og:image" content="/preview.png">
		<!-- <meta property="og:url" content=""> -->
		<meta property="og:type" content="game" />

		<!-- Vue -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>
		<!-- JQuery -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<!-- Font Awesome -->
		<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>

		<!-- Styles and fonts -->
		<link href="web/style.css" type="text/css" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css?family=Crete+Round&display=swap" rel="stylesheet">

		<!-- Phaser -->
		<script src="web/phaser_3_22_0.min.js"></script>
		<script src="web/numeric.min.js"></script>
		<script src="web/math.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>

		<!-- Script includes -->
		<script src="js/utils.js"></script>
		<script src="js/pipelines.js"></script>

		<script src="js/database/nodeData.js"></script>
		<script src="js/database/defaultDatabase.js"></script>
		<script src="js/database/database.js"></script>
		<script src="js/database/vueDatabase.js"></script>

		<script src="js/ecoweb/organism.js"></script>
		<script src="js/ecoweb/scenario.js"></script>
		<script src="js/ecoweb/event.js"></script>
		<script src="js/ecoweb/ecoweb.js"></script>

		<script src="js/graph/vueGraphTools.js"></script>
		<script src="js/graph/chart.js"></script>

		<script src="js/components/Button.js"></script>
		<script src="js/components/MenuButton.js"></script>
		<script src="js/components/TextButton.js"></script>
		<script src="js/components/CircleButton.js"></script>
		<script src="js/components/SocketButton.js"></script>
		<script src="js/components/SymbolButton.js"></script>
		<script src="js/components/AddEventButton.js"></script>

		<script src="js/components/EventWindow.js"></script>
		<script src="js/components/EventWindowButton.js"></script>
		<script src="js/components/PauseWindow.js"></script>
		<script src="js/components/PauseButton.js"></script>
		<script src="js/components/InfoBox.js"></script>

		<script src="js/components/Node.js"></script>
		<script src="js/components/Slider.js"></script>
		<script src="js/components/SliderButton.js"></script>
		<script src="js/components/CheckBox.js"></script>
		<script src="js/components/Path.js"></script>
		<script src="js/components/Graph.js"></script>
		<script src="js/components/TimeController.js"></script>

		<script src="js/scenes/ExampleScene1.js"></script>
		<script src="js/scenes/ExampleScene2.js"></script>
		<script src="js/scenes/ExampleScene3.js"></script>
		<script src="js/scenes/ClickScene.js"></script>
		<script src="js/scenes/PreloadScene.js"></script>
		<script src="js/scenes/TitleScene.js"></script>
		<script src="js/scenes/WorldScene.js"></script>
		<script src="js/scenes/LevelScene.js"></script>
		<script src="js/scenes/LevelScene2.js"></script>

		<script src="js/index.js"></script>
	</head>

	<body>
		<!-- Font preloading for Phaser -->
		<div style="font-family:'Crete Round', sans-serif; position:absolute; left:-1000px; visibility:hidden;">.</div>


		<!-- Game canvas -->
		<div id="game"></div>


		<!-- Graph -->
		<div class="d-flex flex-wrap justify-content-center p-2 mt-4" style="background: rgba(0,0,255,0.0);">

			<div id="myChartWrapper">
				<div style="background: white;">
					<canvas id="myChart"></canvas>
				</div>
			</div>

			<div id="graphTools" class="justify-content-center">

				<div class="m-1" style="width: 250px; background: rgba(255,0,0,0.0);">
					<div class="card">
						<div class="card-header d-flex no-gutters p-2">
							<div class="col-sm-1"></div>
							<span class="col-sm font-weight-bold">Main</span>
							<i class="fas col-sm-1 fa-angle-down"
								style="font-size: 1.5em; cursor: pointer;"
								v-on:click="toggleShow($event, main)"></i>
						</div>
						<div v-if="main.show" class="card-body p-2">
							<div class="row no-gutters mb-1" style="height: 2em;">
								<span class="col-sm-2 align-self-center" style="white-space: nowrap;"><small>Time</small></span>
								<input class="col-sm mx-2"
									type="range"
									min="0" max="500" step="10"
									v-model="duration"
									v-on:input="updateDuration($event)"
									v-on:change="updateDuration($event)">
								<input class="col-sm-3"
									type="number"
									min="0" max="1000" step="10"
									v-model.number="duration"
									v-on:change="updateDuration($event)"/>
							</div>
							<!-- <button type="button" class="btn btn-secondary"
								title="Apply slight randomness to all interaction values"
								v-on:click="wiggle">
								Wiggle
							</button> -->
							<button type="button" class="btn btn-secondary"
								title="Skip in time to where populations have stabilized"
								v-on:click="stabilize">
								Stabilize
							</button>
							<button type="button" class="btn btn-secondary"
								title="Reset populations to initial values"
								v-on:click="reset">
								Reset
							</button>
							<!-- <hr>
							<button v-for="scenario,i in scenarios" type="button" class="btn btn-secondary"
								v-bind:title="'Start scenario ' + i"
								v-on:click="startScenario(i)">
								Scenario {{i}}
							</button> -->
						</div>
					</div>
				</div>

				<div v-for="s in species" class="m-1" style="width: 250px; background: rgba(255,0,0,0.0);">
					<div class="card">
						<div class="card-header d-flex no-gutters p-2" v-bind:style="{ backgroundColor: s.color }">
							<input type="checkbox" class="col-sm-1"
								style="width: 25px; height: 25px;"
								v-model="s.enable"
								v-on:click="toggleEnable($event, s)">
							<!--input type="checkbox" class="col-sm-1"
								style="width: 25px; height: 25px;"
								v-model="s.showGraph"
								v-on:click="toggleShowGraph($event, s)"-->
							<span class="col-sm font-weight-bold">{{s.name}}</span>
							<i class="fas col-sm-1 fa-angle-down"
								style="font-size: 1.5em; cursor: pointer;"
								v-on:click="toggleShow($event, s)"></i>
						</div>
						<div v-if="s.show" class="card-body p-2">
							<div class="row no-gutters mb-1" style="height: 2em;">
								<span class="col-sm-2 align-self-center" style="white-space: nowrap;"><small>Pop</small></span>
								<input class="col-sm mx-2"
									type="range"
									min="0.01" max="1" step="0.01"
									v-model="s.startPopulation"
									v-on:input="updateValue($event, s, 'startPopulation')"
									v-on:change="updateValue($event, s, 'startPopulation')">
								<input class="col-sm-3"
									type="number"
									min="0" max="1" step="0.01"
									v-model.number="s.startPopulation"
									v-on:change="updateValue($event, s, 'startPopulation')"/>
							</div>
							<div class="row no-gutters mb-1" style="height: 2em;">
								<span class="col-sm-2 align-self-center" style="white-space: nowrap;"><small>Grow</small></span>
								<input class="col-sm mx-2"
									type="range"
									min="-1" max="1" step="0.01"
									v-model="s.growthRate"
									v-on:input="updateValue($event, s, 'growthRate')"
									v-on:change="updateValue($event, s, 'growthRate')">
								<input class="col-sm-3"
									type="number"
									min="-1" max="1" step="0.01"
									v-model.number="s.growthRate"
									v-on:change="updateValue($event, s, 'growthRate')"/>
							</div>
							<div class="row no-gutters mb-1" style="height: 2em;">
								<span class="col-sm-2 align-self-center" style="white-space: nowrap;"><small>Self</small></span>
								<input class="col-sm mx-2"
									type="range"
									min="-1" max="0" step="0.01"
									v-model="s.selfCompetition"
									v-on:input="updateValue($event, s, 'selfCompetition')"
									v-on:change="updateValue($event, s, 'selfCompetition')">
								<input class="col-sm-3"
									type="number"
									min="-1" max="0" step="0.01"
									v-model.number="s.selfCompetition"
									v-on:change="updateValue($event, s, 'selfCompetition')"/>
							</div>
							<hr>
							<div v-for="value, key in s.relationship" class="row no-gutters mb-1" style="height: 2em;">
								<span class="col-sm-2 align-self-center" style="white-space: nowrap;"><small>{{key}}</small></span>
								<input class="col-sm mx-2"
									type="range"
									min="-1" max="1" step="0.01"
									v-model="s.relationship[key]"
									v-on:input="updateValue($event, s, 'relationship[key]')"
									v-on:change="updateValue($event, s, 'relationship[key]')">
								<input class="col-sm-3"
									type="number"
									min="-1" max="0" step="0.01"
									v-model.number="s.relationship[key]"
									v-on:change="updateValue($event, s, 'relationship[key]')"/>
							</div>
							<!--
							<div v-for="value, key in s.relationship" class="row no-gutters mb-1" style="height: 2em;">
								<span class="col-sm-2 align-self-center" style="white-space: nowrap;"><small>{{key}}</small></span>
								<input class="col-sm mx-2"
									type="range"
									min="-1" max="1" step="0.01"
									v-model="s.relationship[key]"
									v-on:input="updateValue($event, s, 'relationship[key]')"
									v-on:change="updateValue($event, s, 'relationship[key]')">
								<input class="col-sm-3"
									type="number"
									min="-1" max="0" step="0.01"
									v-model.number="s.relationship[key]"
									v-on:change="updateValue($event, s, 'relationship[key]')"/>
							</div>
							-->
						</div>
					</div>
				</div>

			</div>

		</div>


		<!-- Database editor -->
		<div id="databaseWrapper" class="container card-body bg-light mx-auto justify-content-center my-3">

			<!-- Main menu -->
			<div id="databaseEditor" class="editor-container" v-show="show" v-cloak>
				<h2 class="text-left">Database</h2>
				<hr class="mt-0">

				<div class="d-flex justify-content-end">
					<div>
						<input type="button" class="btn btn-lg btn-primary" v-bind:value="'Nodes (' + total_nodes + ')'" v-on:click="openNodes()">
						<input type="button" class="btn btn-lg btn-primary" v-bind:value="'Events (' + total_events + ')'" v-on:click="openEvents()">
						<input type="button" class="btn btn-lg btn-primary" v-bind:value="'Scenarios (' + total_scenarios + ')'" v-on:click="openScenarios()">
						<input type="button" class="btn btn-lg btn-primary" v-bind:value="'Tags (' + total_custom_tags + ')'" v-on:click="editTags()">
					</div>
				</div>

				<hr>

				<div class="d-flex justify-content-end">
					<div>
						<input type="file" id="importJsonInput" hidden/>
						<input type="button" class="btn btn-lg btn-warning" value="Import JSON" v-on:click="importFile()">
						<input type="button" class="btn btn-lg btn-warning" value="Export JSON" v-on:click="exportFile()">
					</div>
				</div>
			</div>

			<!-- Node list -->
			<div id="nodeList" class="editor-container" v-show="show" v-cloak>
				<h2 class="text-left">Nodes</h2>

				<div class="editor-full-list">
					<table class="table">
						<thead>
							<tr>
								<td scope="col" class="text-muted d-none d-sm-table-cell"></td>
								<td scope="col" class="text-muted">Name</td>
								<!--td scope="col" class="text-muted d-none d-md-table-cell">Id</td-->
								<td scope="col" class="text-muted d-none d-lg-table-cell">Type</td>
								<td scope="col"></td>
							</tr>
						</thead>
						<tbody>
							<tr v-for="s in list">
								<td scope="row" class="align-middle d-none d-sm-table-cell">
									<img
										v-bind:src="getImage(s.image)"
										class="img-thumbnail p-0 rounded-circle"
										style="border: none; height: 40px;"
										v-bind:style="{ boxShadow: 'inset 0 0 0 2px ' + s.color }"
										v-bind:title="s.name">
								</td>
								<th class="align-middle">{{ s.name }}</th>
								<!--td class="align-middle d-none d-md-table-cell">{{ s.id }}</td-->
								<td class="align-middle d-none d-lg-table-cell">{{ s.type }} &ndash; {{ s.animal.food || s.service.category }}</td>
								<td class="align-middle" style="width: 1%; white-space: nowrap;">
									<button class="list-edit-button btn btn-primary" title="Edit" v-on:click="editNode(s)"><i class="fas fa-fw fa-edit"></i></button>
									<button class="list-edit-button btn btn-primary" title="Copy" v-on:click="copyNode(s)"><i class="fas fa-fw fa-copy"></i></button>
									<button class="list-edit-button btn btn-danger" title="Delete" v-on:click="deleteNode(s)"><i class="fas fa-fw fa-trash-alt"></i></button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<hr>
				<div class="d-flex justify-content-end">
					<div>
						<input type="button" class="btn btn-secondary mr-1" value="Back" v-on:click="back()">
						<input type="button" class="btn btn-primary" value="Add node" v-on:click="addNode()">
					</div>
				</div>
			</div>

			<!-- Event list -->
			<div id="eventList" class="editor-container" v-show="show" v-cloak>
				<h2 class="text-left">Events</h2>

				<div class="editor-full-list">
					<table class="table">
						<thead>
							<tr>
								<td scope="col" class="text-muted d-none d-sm-table-cell"></td>
								<td scope="col" class="text-muted">Name</td>
								<td scope="col" class="text-muted d-none d-lg-table-cell">Category</td>
								<td scope="col"></td>
							</tr>
						</thead>
						<tbody>
							<tr v-for="s in list">
								<td scope="row" class="align-middle d-none d-sm-table-cell">
									<img
										v-bind:src="getImage(s.image)"
										class="img-thumbnail p-0 rounded-circle"
										style="border: none; height: 40px;"
										v-bind:title="s.name">
								</td>
								<th class="align-middle">{{ s.name }}</th>
								<td class="align-middle d-none d-lg-table-cell">{{ s.category }}</td>
								<td class="align-middle" style="width: 1%; white-space: nowrap;">
									<button class="list-edit-button btn btn-primary" title="Edit" v-on:click="editEvent(s)"><i class="fas fa-fw fa-edit"></i></button>
									<button class="list-edit-button btn btn-primary" title="Copy" v-on:click="copyEvent(s)"><i class="fas fa-fw fa-copy"></i></button>
									<button class="list-edit-button btn btn-danger" title="Delete" v-on:click="deleteEvent(s)"><i class="fas fa-fw fa-trash-alt"></i></button>
									<button class="list-edit-button-small btn btn-secondary" title="Move up" v-on:click="moveEvent(s,-1)"><i class="fas fa-fw fa-sm fa-chevron-up"></i></button>
									<button class="list-edit-button-small btn btn-secondary" title="Move down" v-on:click="moveEvent(s,1)"><i class="fas fa-fw fa-sm fa-chevron-down"></i></button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<hr>
				<div class="d-flex justify-content-end">
					<div>
						<input type="button" class="btn btn-secondary mr-1" value="Back" v-on:click="back()">
						<input type="button" class="btn btn-primary" value="Add event" v-on:click="addEvent()">
					</div>
				</div>
			</div>

			<!-- Scenario list -->
			<div id="scenarioList" class="editor-container" v-show="show" v-cloak>
				<h2 class="text-left">Scenarios</h2>

				<div class="editor-full-list">
					<table class="table">
						<thead>
							<tr>
								<td scope="col" class="text-muted">Name</td>
								<td scope="col" class="text-muted d-none d-md-table-cell">Nodes</td>
								<td scope="col"></td>
							</tr>
						</thead>
						<tbody>
							<tr v-for="s in list">
								<th class="align-middle">{{ s.name }}</th>
								<td scope="row" class="align-middle d-none d-md-table-cell">
									<img
										v-for="actor in s.actors"
										v-bind:src="getImage(getNode(actor).image)"
										class="img-thumbnail p-0 rounded-circle"
										style="border: none; height: 40px;"
										v-bind:style="{ boxShadow: 'inset 0 0 0 2px ' + getNode(actor).color }"
										v-bind:title="getNode(actor).name">
								</td>
								<td class="align-middle" style="width: 1%; white-space: nowrap;">
									<button class="list-edit-button btn btn-primary" title="Edit" v-on:click="editScenario(s)"><i class="fas fa-fw fa-edit"></i></button>
									<button class="list-edit-button btn btn-primary" title="Copy" v-on:click="copyScenario(s)"><i class="fas fa-fw fa-copy"></i></button>
									<button class="list-edit-button btn btn-danger" title="Delete" v-on:click="deleteScenario(s)"><i class="fas fa-fw fa-trash-alt"></i></button>
									<button class="list-edit-button-small btn btn-secondary" title="Move up" v-on:click="moveScenario(s,-1)"><i class="fas fa-fw fa-sm fa-chevron-up"></i></button>
									<button class="list-edit-button-small btn btn-secondary" title="Move down" v-on:click="moveScenario(s,1)"><i class="fas fa-fw fa-sm fa-chevron-down"></i></button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<hr>
				<div class="d-flex justify-content-end">
					<div>
						<input type="button" class="btn btn-secondary mr-1" value="Back" v-on:click="back()">
						<input type="button" class="btn btn-primary" value="Add scenario" v-on:click="addScenario()">
					</div>
				</div>
			</div>

			<!-- Node editor -->
			<form id="nodeEditor" class="editor-container" v-show="show" v-cloak v-on:submit="save" action="#" method="post">

				<div class="d-flex">
					<!-- Tab navigation -->
					<ul class="nav nav-tabs w-100 justify-content-between">
						<h2 class="text-left mb-0">{{ node.name }}</h2>

						<div class="d-flex">
							<li class="nav-item">
								<input type="button" class="tab-button nav-link" v-bind:class="{ active: tab == 1 }" v-on:click="setTab(1)" value="Info">
							</li>
							<li class="nav-item">
								<input type="button" class="tab-button nav-link" v-bind:class="{ active: tab == 2 }" v-on:click="setTab(2)" value="Relations">
							</li>
						</div>
					</ul>
				</div>

				<hr class="mt-0">

				<!-- Node input section -->
				<!-- Info tab -->
				<div v-show="tab == 1" class="input-section">

					<!-- Input fields -->
					<div class="input-fields col-md-8 col-xl-6">

						<!-- Name -->
						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Name</label>
							<div class="col-sm-8">
								<input v-model="node.name" type="text" class="form-control" minlength="2" maxlength="30" required>
							</div>
						</div>

						<!-- Image -->
						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Image</label>
							<div class="col-sm-8">
								<select v-model="node.image" class="form-control" required>
									<option v-for="option in NODE_IMAGES" v-bind:value="option.value">{{ getStrippedPath(option.text) }}</option>
								</select>
							</div>
						</div>

						<!-- Color -->
						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Color</label>
							<div class="col-sm-8">
								<input v-model="node.color" type="color" class="form-control" required>
							</div>
						</div>

						<hr>

						<!-- Type -->
						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Type</label>
							<div class="col-sm-8">
								<select v-model="node.type" class="form-control" required>
									<option v-for="option in NODE_TYPES" v-bind:value="option.value">{{ option.text }}</option>
								</select>
							</div>
						</div>

						<!-- Animal parameters -->
						<div v-if="node.type == 'animal'">

							<!-- Size -->
							<div class="form-group row">
								<label class="col-sm-4 col-form-label">Size</label>
								<div class="col-sm-8">
									<select v-model="node.animal.size" class="form-control" required>
										<option v-for="option in ANIMAL_SIZES" v-bind:value="option.value">{{ option.text }}</option>
									</select>
								</div>
							</div>

							<!-- Food -->
							<div class="form-group row">
								<label class="col-sm-4 col-form-label">Food</label>
								<div class="col-sm-8">
									<select v-model="node.animal.food" class="form-control" required>
										<option v-for="option in ANIMAL_FOODS" v-bind:value="option.value">{{ option.text }}</option>
									</select>
								</div>
							</div>

							<!-- Consumption -->
							<div class="form-group row">
								<label class="col-sm-4 col-form-label">Consumption</label>
								<div class="col-sm-8 input-group">
									<input v-model.number="node.animal.consumption" type="number" class="form-control" min="0" step="0.01" required>
									<div class="input-group-append">
										<span class="input-group-text" id="basic-addon2">kg / day</span>
									</div>
								</div>
							</div>

							<!-- Weight -->
							<div class="form-group row">
								<label class="col-sm-4 col-form-label">Weight</label>
								<div class="col-sm-8 input-group">
									<input v-model.number="node.animal.weight" type="number" class="form-control" min="0" step="0.01" required>
									<div class="input-group-append">
										<span class="input-group-text" id="basic-addon2">kg</span>
									</div>
								</div>
							</div>

							<!-- Age -->
							<div class="form-group row">
								<label class="col-sm-4 col-form-label">Age</label>
								<div class="col-sm-8 input-group">
									<input v-model.number="node.animal.age" type="number" class="form-control" min="0" step="0.01" required>
									<div class="input-group-append">
										<span class="input-group-text" id="basic-addon2">years</span>
									</div>
								</div>
							</div>

							<!-- Offspring -->
							<div class="form-group row">
								<label class="col-sm-4 col-form-label">Offspring</label>
								<div class="col-sm-8 input-group">
									<input v-model.number="node.animal.offspring" type="number" class="form-control" min="0" step="0.01" required>
									<div class="input-group-append">
										<span class="input-group-text" id="basic-addon2">/ year</span>
									</div>
								</div>
							</div>
						</div>

						<!-- Service parameters -->
						<div v-if="node.type == 'service'">

							<!-- Size -->
							<div class="form-group row">
								<label class="col-sm-4 col-form-label">Category</label>
								<div class="col-sm-8">
									<select v-model="node.service.category" class="form-control" required>
										<option v-for="option in SERVICE_CATEGORIES" v-bind:value="option.value">{{ option.text }}</option>
									</select>
								</div>
							</div>
						</div>

						<hr>

						<!-- Tags -->
						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Tags</label>
							<div class="col-sm-8">
								<select v-model="node.tags" class="form-control" multiple>
									<option v-for="option in all_custom_tags" v-bind:value="option" :disabled="option == ''">{{ option }}</option>
								</select>
							</div>
						</div>

						<!-- Notes -->
						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Notes</label>
							<div class="col-sm-8">
								<textarea v-model="node.notes" class="form-control" rows="3" maxlength="1000"></textarea>
							</div>
						</div>

					</div>

					<!-- Node image -->
					<div class="input-fields col-md-4 col-xl-4 d-flex flex-column">
						<img
							v-bind:src="getImage(node.image)"
							class="img-thumbnail p-0 rounded-circle d-none d-md-block"
							style="border: none"
							v-bind:style="{ boxShadow: 'inset 0 0 0 3px ' + node.color }"
							v-bind:title="node.name">
					</div>
				</div>

				<!-- Diet tab -->
				<div v-show="tab == 2" class="input-section">
					<!-- Relation list -->
					<div class="input-fields col-md-8 col-xl-6">

						<!-- Relation -->
						<div class="card bg-light mb-1" v-for="(relation, index) in node.relations">
							<div class="card-body">

								<!-- Other node -->
								<div v-if="relation.type == 'node'" class="form-group row">
									<label class="col-sm-4 col-form-label">Other node</label>
									<div class="col-sm-8">
										<select v-model="relation.node_id" class="form-control" required>
											<option value="" disabled hidden>Select a node...</option>
											<!-- <optgroup label="Nodes"> -->
											<!-- <option disabled>──────────</option> -->
											<option v-for="option in all_nodes" v-bind:value="option.id">{{ option.name }}</option>
										</select>
									</div>
								</div>

								<!-- Tags -->
								<div v-if="relation.type == 'tags'" class="form-group row">
									<label class="col-sm-4 col-form-label">Tags</label>
									<div class="col-sm-8">
										<select v-model="relation.tags" class="form-control" multiple required>
											<option value="" disabled hidden>Select tags...</option>
											<option v-for="option in all_tags" v-bind:value="option" :disabled="option == ''">{{ option }}</option>
										</select>
									</div>
								</div>

								<!-- Interaction -->
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">Interaction</label>
									<div class="col-sm-8">
										<select v-model="relation.interaction" class="form-control" required>
											<option value="" disabled hidden>Select interaction</option>
											<option v-for="option in RELATION_INTERACTIONS" v-bind:value="option.value">{{ option.text }}</option>
										</select>
									</div>
								</div>

								<!--div v-if="interaction.node_id.type == 'animal'"-->

								<!-- Benefit -->
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">Preference</label>
									<div class="col-sm-8 input-group">
										<input v-model.number="relation.preference" type="number" class="form-control" min="0" step="1" required>
										<div class="input-group-append">
											<span class="input-group-text">{{ getPreference(relation) }}</span>
										</div>
									</div>
								</div>

								<!-- Delete button -->
								<input type="button" class="corner-close-button btn btn-danger" value="&#10005;" v-on:click="deleteRelation(index)">

							</div>
						</div>

						<div class="row no-gutters d-flex justify-content-end">
							<hr class="col-12">
							<input type="button" class="btn btn-primary mr-1" value="Add node relation" v-on:click="addRelation('node')">
							<input type="button" class="btn btn-primary" value="Add tags relation" v-on:click="addRelation('tags')">
						</div>

					</div>


					<!-- Relation chart -->
					<div class="input-fields col-md-4 col-xl-4 d-flex flex-column">
						<!-- Node image -->
						<img
							v-bind:src="getImage(node.image)"
							class="img-thumbnail p-0 rounded-circle d-none d-md-block"
							style="border: none"
							v-bind:style="{ boxShadow: 'inset 0 0 0 3px ' + node.color }"
							v-bind:title="node.name">

						<hr>

						<!-- Incoming relations -->
						<div class="card bg-light mb-1 d-none d-md-block" style="overflow-y: auto;">
							<div class="card-body" style="display: flex; flex-wrap: wrap;">
								<h4 class="col-12">Affects</h4>
								<p v-if="outgoing_relations.length == 0" class="col-12">None</p>
								<div v-for="r in outgoing_relations" class="col-6 text-left pb-1 px-1" style="overflow: hidden; white-space: nowrap;">
									<img
										v-bind:src="getImage(r.node.image)"
										class="img-thumbnail p-0 rounded-circle"
										style="border: none; height: 30px; cursor: pointer;"
										v-bind:style="{ boxShadow: 'inset 0 0 0 2px ' + r.node.color }"
										v-bind:title="r.node.name"
										v-on:click="redirect(r.node)">
									<small>{{ r.relation.interaction }}</small>
								</div>
								<hr>
								<h4 class="col-12">Affected by</h4>
								<p v-if="incoming_relations.length == 0" class="col-12">None</p>
								<div v-for="r in incoming_relations" class="col-6 text-left pb-1 px-1" style="overflow: hidden; white-space: nowrap;">
									<img
										v-bind:src="getImage(r.node.image)"
										class="img-thumbnail p-0 rounded-circle"
										style="border: none; height: 30px; cursor: pointer;"
										v-bind:style="{ boxShadow: 'inset 0 0 0 2px ' + r.node.color }"
										v-bind:title="r.node.name"
										v-on:click="redirect(r.node)">
									<small>{{ r.relation.interaction }}</small>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Save/Back buttons -->
				<div class="row no-gutters d-flex justify-content-end">
					<hr class="col-12">
					<input type="button" class="btn btn-secondary mr-2" value="Back" v-on:click="cancel()">
					<input type="submit" class="btn" :disabled="!form_changed" v-bind:class="{ 'btn-primary': form_changed, 'btn-secondary': !form_changed }" value="Save">
				</div>
			</form>

			<!-- Event editor -->
			<form id="eventEditor" class="editor-container" v-show="show" v-cloak v-on:submit="save" action="#" method="post">

				<h2 class="text-left">{{ event.name }}</h2>

				<hr class="mt-0">

				<!-- Event input section -->
				<div class="input-section">

					<!-- Input fields left -->
					<div class="input-fields col-md-6" style="display: flex; flex-direction: column;">

						<!-- Name -->
						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Name</label>
							<div class="col-sm-8">
								<input v-model="event.name" type="text" class="form-control" minlength="2" maxlength="30" required>
							</div>
						</div>

						<!-- Description -->
						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Description</label>
							<div class="col-sm-8">
								<textarea v-model="event.description" class="form-control" rows="3" maxlength="1000"></textarea>
							</div>
						</div>

						<!-- Image -->
						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Image</label>
							<div class="col-sm-8">
								<select v-model="event.image" class="form-control" required>
									<option v-for="option in NODE_IMAGES" v-bind:value="option.value">{{ option.text }}</option>
								</select>
							</div>
						</div>

						<!-- Duration -->
						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Duration</label>
							<div class="col-sm-8">
								<input v-model.number="event.duration" type="number" class="form-control" min="0" step="1" max="1000" required>
							</div>
						</div>

						<!-- Owner -->
						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Owner</label>
							<div class="col-sm-8">
								<select v-model="event.owner_id" class="form-control" required>
									<option v-bind:value="-1">No owner (automatic)</option>
									<option disabled>──────────</option>
									<option v-for="option in all_nodes" v-bind:value="option.id">{{ option.name }}</option>
								</select>
							</div>
						</div>
					</div>

					<!-- Input fields right -->
					<div class="input-fields col-md-6" style="display: flex; flex-direction: column;">

						<!-- Effects list -->
						<div style="overflow-y: auto;">
							<div class="card bg-light mb-1" v-for="(effect, index) in event.effects">
								<div class="card-body">

									<!-- Node -->
									<div v-if="effect.type == 'node'" class="form-group row">
										<label class="col-sm-4 col-form-label">Node</label>
										<div class="col-sm-8">
											<select v-model="effect.node_id" class="form-control" required>
												<option value="" disabled hidden>Select a node...</option>
												<option v-for="option in all_nodes" v-bind:value="option.id">{{ option.name }}</option>
											</select>
										</div>
									</div>

									<!-- Tags -->
									<div v-if="effect.type == 'tags'" class="form-group row">
										<label class="col-sm-4 col-form-label">Tags</label>
										<div class="col-sm-8">
											<select v-model="effect.tags" class="form-control" multiple required>
												<option value="" disabled hidden>Select tags...</option>
												<option v-for="option in all_tags" v-bind:value="option" :disabled="option == ''">{{ option }}</option>
											</select>
										</div>
									</div>

									<!-- Something -->
									<div class="form-group row">
										<label class="col-sm-4 col-form-label">Something</label>
										<div class="col-sm-8 input-group">
											<input v-model.number="effect.something" type="number" class="form-control" step="0.01" required>
										</div>
									</div>

									<!-- Delete button -->
									<input type="button" class="corner-close-button btn btn-danger" value="&#10005;" v-on:click="deleteEffect(index)">

								</div>
							</div>
						</div>

						<div class="row no-gutters d-flex justify-content-end">
							<hr class="col-12">
							<input type="button" class="btn btn-primary mr-1" value="Add node effect" v-on:click="addEffect('node')">
							<input type="button" class="btn btn-primary" value="Add tags effect" v-on:click="addEffect('tags')">
						</div>

					</div>
				</div>

				<!-- Save/Back buttons -->
				<div class="row no-gutters d-flex justify-content-end">
					<hr class="col-12">
					<input type="button" class="btn btn-secondary mr-2" value="Back" v-on:click="cancel()">
					<input type="submit" class="btn" :disabled="!form_changed" v-bind:class="{ 'btn-primary': form_changed, 'btn-secondary': !form_changed }" value="Save">
				</div>
			</form>

			<!-- Scenario editor -->
			<form id="scenarioEditor" class="editor-container" v-show="show" v-cloak v-on:submit="save" action="#" method="post">

				<h2 class="text-left">{{ scenario.name }}</h2>

				<hr class="mt-0">

				<!-- Scenario input section -->
				<div class="input-section">

					<!-- Input fields left -->
					<div class="input-fields col-md-6" style="display: flex; flex-direction: column;">
						<!-- Name -->
						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Name</label>
							<div class="col-sm-8">
								<input v-model="scenario.name" type="text" class="form-control" minlength="2" maxlength="30" required>
							</div>
						</div>

						<!-- Time -->
						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Time</label>
							<div class="col-sm-8">
								<input v-model.number="scenario.time" type="number" class="form-control" min="0" step="1" max="1000" required>
							</div>
						</div>

						<!-- Budget -->
						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Budget</label>
							<div class="col-sm-8">
								<input v-model.number="scenario.budget" type="number" class="form-control" min="0" step="1" max="1000" required>
							</div>
						</div>

						<!-- Position -->
						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Camera position</label>
							<div class="col-sm-8">
								<div class="input-group">
									<input v-model.number="scenario.position[0]" type="number" class="form-control" min="0" max="100" step="1" required>
									<input v-model.number="scenario.position[1]" type="number" class="form-control" min="0" max="100" step="1" required>
								</div>
							</div>
						</div>
						<!-- <td class="align-middle p-2"> -->
						<!-- </td> -->

						<!-- Description -->
						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Description</label>
							<div class="col-sm-8">
								<textarea v-model="scenario.description" class="form-control" rows="3" maxlength="1000"></textarea>
							</div>
						</div>

						<hr>

						<!-- Actions list -->
						<div class="editor-full-list">
							<table class="table">
								<tbody>
									<tr v-for="(action, index) in scenario.actions">
										<!-- Image -->
										<td class="align-middle p-2" style="width: 1%;">
											<img
												v-bind:src="getImage(getEvent(action).image)"
												class="img-thumbnail p-0 rounded-circle"
												style="border: none; max-width: 40px; max-height: 40px;"
												v-bind:style="{ boxShadow: 'inset 0 0 0 2px ' + getEvent(action).color }"
												v-bind:title="getEvent(action).name">
										</td>

										<!-- Type -->
										<td class="align-middle p-2">
											<div class="" style="display: flex; justify-content: center; align-items: center;">
												<select v-model="action.type" class="form-control" required>
													<option value="" disabled hidden>Select tags...</option>
													<option v-for="option in ACTION_TYPES" v-bind:value="option.value">{{ option.text }}</option>
												</select>
											</div>
										</td>

										<!-- Cost -->
										<td v-if="action.type == 'player'" class="align-middle p-2">
											<div class="input-group input-lg">
												<input v-model.number="action.cost" type="number" class="form-control" min="0" :max="scenario.budget" step="1" required>
												<div class="input-group-append">
													<div class="input-group-text">cost</div>
												</div>
											</div>
										</td>

										<!-- Time -->
										<td v-if="action.type == 'automatic'" class="align-middle p-2">
											<div class="input-group input-lg">
												<input v-model.number="action.time" type="number" class="form-control" min="0" :max="scenario.time" step="1" required>
												<div class="input-group-append">
													<div class="input-group-text">time</div>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<!-- Input fields right -->
					<div class="input-fields col-md-6" style="display: flex; flex-direction: column;">

						<!-- Actors list -->
						<div class="editor-full-list">
							<table class="table">
								<thead>
									<tr>
										<td scope="col"></td>
										<td scope="col" class="text-muted">Population</td>
										<td scope="col" class="text-muted">Visibility</td>
										<td scope="col" class="text-muted">Position</td>
									</tr>
								</thead>
								<tbody>
									<tr v-for="(actor, index) in scenario.actors">
										<!-- Image -->
										<td class="align-middle p-2" style="width: 1%;">
											<img
												v-bind:src="getImage(getNode(actor).image)"
												class="img-thumbnail p-0 rounded-circle"
												style="border: none; max-width: 40px; max-height: 40px;"
												v-bind:style="{ boxShadow: 'inset 0 0 0 2px ' + getNode(actor).color }"
												v-bind:title="getNode(actor).name">
										</td>

										<!-- Population -->
										<td class="align-middle p-2" v-if="!checkAbiotic(actor)">
											<div class="input-group">
												<input v-model.number="actor.population" type="number" class="form-control" min="0" max="1" step="0.01" required>
											</div>
										</td>

										<!-- Abiotic function -->
										<td class="align-middle p-2" v-if="checkAbiotic(actor)">
											<div class="input-group">
												<input v-model="actor.popfunc" type="text" class="form-control is-valid" v-bind:class="{ 'is-invalid': !checkAbioticFunction(actor) }" maxlength="50" required>
											</div>
										</td>

										<!-- Visibility -->
										<td class="align-middle p-2">
											<div class="" style="display: flex; justify-content: center; align-items: center;">
												<select v-model="actor.visibility" class="form-control" required>
													<option value="" disabled hidden>Select tags...</option>
													<option v-for="option in ACTOR_VISIBILITY" v-bind:value="option.value">{{ option.text }}</option>
												</select>
											</div>
										</td>

										<!-- Position -->
										<td class="align-middle p-2">
											<div class="input-group">
												<input v-model.number="actor.position[0]" type="number" class="form-control" min="0" max="100" step="1" required>
												<input v-model.number="actor.position[1]" type="number" class="form-control" min="0" max="100" step="1" required>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>

				<!-- Save/Back buttons -->
				<div class="row no-gutters d-flex justify-content-end">
					<hr class="col-12">
					<div>
						<input type="button" class="btn btn-primary mr-1" value="Select events" v-on:click="openEventSelector()">
						<input type="button" class="btn btn-primary" value="Select nodes" v-on:click="openNodeSelector()">
					</div>
					<div style="flex-grow: 1;"></div>
					<div>
						<input type="button" class="btn btn-secondary mr-1" value="Back" v-on:click="cancel()">
						<input type="submit" class="btn mr-1" :disabled="!form_changed || !abiotic_functions_valid" v-bind:class="{ 'btn-primary': form_changed, 'btn-secondary': !form_changed }" value="Save">
						<input type="button" class="btn btn-warning" :disabled="!abiotic_functions_valid" value="Run" v-on:click="run()">
					</div>
				</div>
			</form>

			<!-- Tag editor -->
			<form id="tagEditor" class="editor-container" v-show="show" v-cloak v-on:submit="save" action="#" method="post">
				<h2 class="text-left">Tags</h2>
				<hr class="mt-0">

				<!-- Tag list field -->
				<div class="input-section">

					<!-- Tag list -->
					<div class="input-fields col-md-6 col-lg-6 col-xl-6">
						<textarea v-model="tags" class="form-control" maxlength="10000" style="min-height: 300px; height: 100%; resize: none;"></textarea>
					</div>

					<!-- Something -->
					<div class="input-fields col-md-6 col-lg-6 col-xl-6 d-flex flex-column">
						<!-- Something -->
						<div class="card bg-light mb-1">
							<div class="card-body text-left">
								<ul>
									<li v-for="warning in tag_warnings" style="color: red;"><b>{{warning.tag}}</b> {{warning.text}} <b>{{warning.name}}</b></li>
								</ul>
								<hr v-if="tag_warnings.length > 0">
								<ul>
									<div v-for="tag in parsed_tags">
										<li v-if="tag">
											{{ tag }}
											<button type="button" class="btn btn-warning btn-sm" style="padding: 0 0.25rem; float: right;" v-on:click="selectNodes(tag)">
												nodes <span class="badge badge-light">{{ getNodeCountByTag(tag) }}</span>
											</button>
										</li>
										<hr v-else>
									</div>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<!-- Save/Back buttons -->
				<div class="row no-gutters d-flex justify-content-end">
					<hr class="col-12">
					<input type="button" class="btn btn-secondary mr-2" value="Back" v-on:click="cancel()">
					<input type="submit" class="btn btn-primary" value="Save">
				</div>
			</form>
		</div>


		<!-- Warning Modal -->
		<div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="warningModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="warningModalLabel">{{ titleText }}</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						{{ bodyText }}
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" v-on:click="deny()">{{ denyText }}</button>
						<button type="button" class="btn" v-bind:class="{ 'btn-primary': type == 'save', 'btn-danger': type == 'delete' }" v-on:click="accept()">{{ acceptText }}</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Node Selector Modal -->
		<div class="modal fade" id="nodeSelectorModal" tabindex="-1" role="dialog" aria-labelledby="nodeSelectorModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="nodeSelectorModalLabel" v-html="titleText"></h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body row">
						<ul v-for="node in allNodes" class="list-group col-12 col-sm-6 col-lg-4" style="padding: 0.1rem;">
							<li class="list-group-item list-group-item-action" v-bind:class="{ 'active': selected[node.id] }" style="text-align: left; padding: 0.75rem; cursor: pointer; white-space: nowrap; overflow: hidden;" v-on:click="selected[node.id] = !selected[node.id]">
								<img
									v-bind:src="getImage(node.image)"
									class="img-thumbnail p-0 rounded-circle"
									style="border: none; height: 40px;"
									v-bind:style="{ boxShadow: 'inset 0 0 0 2px ' + node.color }"
									v-bind:title="node.name">
								<span class="align-middle">{{ node.name }}</span>
							</li>
						</ul>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" v-on:click="accept()">OK</button>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>