
body {
	background: #33333A;
	margin: auto;
	text-align: center;
}

canvas {
	#transform: scale(0.5);
}

#graphTools {
	display: grid;
	grid-template-columns: repeat(auto-fill, 255px);
	grid-auto-rows: max-content;
	background: rgba(0,255,0,0.0);
	width: 1040px;
}

@media only screen and (max-width: 2000px) {
	#graphTools {
		width: 780px;
	}
}

@media only screen and (max-width: 1600px) {
	#graphTools {
		width: 520px;
	}
}

@media only screen and (max-width: 1200px) {
	#graphTools {
		width: 260px;
	}
}

@media only screen and (max-width: 930px) {
	#graphTools {
		width: 100%;
	}
}

[v-cloak] { display: none; }


.tab-button {
	width: 100%;
	border: none;
	cursor: pointer;
	display: inline-block;
}

hr {
	width: 100%;
}

select:invalid { color: #AAAAAA; }

.tab-button {
	background-color: transparent;
}
/*.nav-tabs .nav-link { color: #007bff; }*/
/*.nav-tabs .nav-link.active { color: #495057; }*/

.editor-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.editor-full-list {
	flex-grow: 1;
	overflow-y: auto;
}

.input-section {
	display: flex;
	flex-grow: 1;
	min-height: 0;
	flex-wrap: wrap;
	justify-content: center;
}

.input-fields {
	height: 100%;
	overflow-y: auto;
}

.form-group {
	margin: 0.5rem 0;
}

.corner-close-button {
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 2px;
	line-height: 1em;
	border-radius: .25rem 0 50%;
	font-size: 1.4em;
}

.list-edit-button {
	padding: 0.375rem 0.55rem;
}

.list-edit-button-small {
	padding: 0.375rem 0.15rem;
}